.cityCards{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
}
.cityLogo{
        width: 75px;
        height: 75px;
}
.bedDiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bedDiv>div>img{
    width:107%
}
.roomFeatureIcons{
    display: flex;
    text-align: center;
}
.roomFeatureIcons>div>img{
    width: 75px;
    height: 75px;
}

.cityCards>div:hover{
        content: "";
        width: 90px;
        height: 90px;
        background-color: rgb(173, 224, 215);
        position: absolute;
        border-radius: 50%;
        z-index: 5;
        animation: 0.5s ease 0s 1 normal forwards running bubble;
        transform: scale(0, 0);
    }