.waBT{
    height: 64px;
        width: 184px;
        border-radius: 30px;
        background-color: rgb(18, 140, 126);
        border: none;
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 0px;
        position: fixed;
        bottom: 48px;
        right: 48px;
        z-index: 25;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        font-family: Font-Book;
        color: rgb(255, 255, 255);
            box-sizing: border-box;
                margin: 0px;
                padding: 0px;
                letter-spacing: 0px;
}

.waBT>h5{
        font-size: 18px;
        letter-spacing: 0.25px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 16px;
}
.waIcon{
            width: 40px;
            height: 40px;
            margin-left: 18px;
            margin-right: 8px;
}