.navbar_container{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    align-items: center;
    /* justify-content: space-around; */
padding: 10px;
}
.navbar_details{
    display: flex;
    flex-direction: row;
 /* border: 1px solid gold; */
 /* width: 50%; */
    align-items: center;
    justify-content: center;
    /* margin-left: 60px; */
    
}
.navbar_details a{
    color: rgb(94, 187, 160);
    text-decoration: none;
    cursor: pointer;
    font-family: Font-Book;
    font-size: 19px;
    line-height: 1.5;
    padding: 0px 25px;


}
.navbar_callback{
    height: 40px;
    background-color:rgb(94, 187, 160); 
    color: white;
    border: none;
    font-weight: bold;
    width: 120%;
    /* font-size: 19px; */
    font-size: 15px;
}
.navbar_callrequst_rightslide{
    width: 90%;
    height: 3px;
    margin: auto;
    background-color:rgb(94, 187, 160);  ;
}
.navbar_username,.navbar_city{
    /* border: 1px solid green; */
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 20px;
}
.navbar_username Input{
border: 1px solid gray;
height: 40px;
padding: 5px;
border-radius: 5px;
gap: 50px;
}
.navbar_mobilenumber,.navbar_profession,.navbar_email{
    margin-top: 20px;
}
.navbar_profession_RadioGroup{
    margin-top: 20px;
}
.navbar_city Select{
  
padding: 5px;
border-radius: 5px;
gap: 30px;
width: 95%;
}
option{
    color: red;
}