<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="container">
        <div id="left">
            <h1>SAY HELLO</h1>
            <h1>TO YOUR</h1>
            <h1 style="color: teal">SECOND HOME</h1>
            <p>A new city can sometimes feel too new, right? New people, new streets, even new languages. In times like these, wouldn’t it be nice to have a place to stay that feels like home?</p>
            <div id="number">
                <div class="one">
                    <div style="color: teal;"><h1>22+</h1></div>
                    <div>CITIES</div>
                </div>
                <div class="two">
                    <div style="color: teal;"><h1>450+</h1></div>
                    <div>RESIDENCES</div>
                </div>
                <div class="three">
                    <div style="color: teal;"><h1>70,000+</h1></div>
                    <div>BEDS</div>
                </div>
            </div><br><br>
            <input type="search" placeholder="Search for your second home near..." id="search">
            <p>Popular Searches:Bannerghatta RoadBellandurBTM Layout</p>
        </div>
        <div id="right">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto,w_650,h_630/v1581672037/about-image-desktop.png" alt="">
        </div>
    </div>
    <div id="container-two">
        <h1>A PLACE THAT'S NOT OPEN FOR ALL</h1>
        <p>Yeah, you read it right. In one particular case, we have a strict no-entry policy. And it's for the coronavirus. Ever since the news broke, we have implemented our best in class ‘COVID-19 Combat-ready Framework’ to protect our residents.</p>
            <hr>
        <div id="box">
           <div class="four">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588756570/NewWebsite/SANITISATION.png" alt="">
           <p>Residences
                Sanitisation</p>
           </div>
           <div class="four">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588755892/NewWebsite/THERMAL_MONITORING.png" alt="">
          <p>Thermal Monitorin at Entry/Exit</p>
           </div>
           <div class="four">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588755867/NewWebsite/TRAVEL_HISTORY.png" alt="">
            <p>Medical & Travel History</p>
           </div>
           <div class="four">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1589121024/NewWebsite/ICONS_ROOM_FEATURES_03_Storage_Space_2x.png" alt="">
            <p>24x7 Quick Response Teams</p>
           </div>
           <div class="four">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588756495/NewWebsite/DISINFECTING.png" alt="">
            <p>Daily Disinfecting High Touch Areas</p>
           </div>
           <div class="four">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588756691/NewWebsite/DISPENSER.png" alt="">
            <p>Sanitisers Placed at Multiple Areas</p>
           </div>
           <div class="four">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1588757309/NewWebsite/contactless_food.png" alt="">
            <p>No-Touch Dining Facility</p>

           </div>
           <div class="four">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1589121303/NewWebsite/ICONS-WHO_2x.png" alt="">
            <p>Training As per WHO norms</p>
           </div>
           <div class="four">
            <img src="https://res.cloudinary.com/stanza-living/image/upload/f_auto,q_auto/v1589121144/NewWebsite/Covid_Icons-Frontline_Ecosystem-01_Mandatory_PPE_for_Staff_2x.png" alt="">
            <p>Mandatory PPE for Staff</p>
           </div>
        </div>
        <hr>
        <h2><a href="">KNOW MORE ...</a></h2>

    </div>
    
</body>
</html>

           